@import url("https://fonts.googleapis.com/css?family=Roboto");
@mixin layout($padding, $shadow) {
  box-shadow: $shadow;
  transition: all 0.5s ease-out;
  padding: $padding;
}
body {
  background-image: url("../src/assets/img/riders_background.jpg");
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  width: 100%;
}
.container {
  @include layout(20px, 0 4px 8px 0 rgba(0, 0, 0, 0.38));
  width: 35%;
  text-align: center;
  margin: 8% 25% 0% 30%;
  background: rgba(239, 254, 254, 0.68);
  border-radius: 5px;
  .icon {
    @include layout(6px, 0px 0px 0px #afa8ba);
    width: 50px;
    margin: 25px;
    cursor: pointer;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  h1,
  h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 29px;
    line-height: 53px;
  }
  p {
    color: #404a3c;
  }
}
.create-game-room {
  width: 45%;
  margin: 4% 6% 0% 8%;
}
.user-dashboard {
  background: rgba(239, 254, 254, 0.68);
  text-align: center;
  border-radius: 5px;
  width: 25%;
  height: 300px;
  margin: 4% 0% 0% 3%;
  figcaption {
    margin-bottom: 15px;
  }
}
.grid {
  display: flex;
}
.avatar {
  @include layout(0px, 0px 0px 0px #afa8ba);
  width: 140px;
  margin: 15px 0 5px 0;
  cursor: pointer;
  border-radius: 100%;
}
.logo {
  width: 180px !important;
}
.header-logo {
  margin-top: 5px;
  width: 180px !important;
}
.input {
  width: 49%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
.logout {
  margin-top: 20px;
  background-color: #ef3405;
  &:hover {
    background-color: #d02d04;
  }
}
.right {
  margin-right: auto;
  margin-left: auto;
}
.left {
  margin-left: 55px;
}
input[type="text"],
[type="password"],
[type="email"] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 12px;
}
.invitation {
  width: 60% !important;
  position: relative;
  bottom: 7px;
}
.addInvitation {
  @include layout(6px, 0px 0px 0px #afa8ba);
  width: 50px;
  cursor: pointer;
}
.invitedPlayers {
  width: 62%;
  padding: 14px 20px;
  margin: 0px 0 10px 0;
  border-bottom: 2px solid #1e8005;
  border-radius: 4px;
  font-size: 16px;
  position: relative;
  left: 99px;
  color: #884919;
}
.btn-blue {
  background-color: #59a740;
  color: white;
  width: 70%;
}

.btn-blue:hover {
  background-color: #3a7926;
  cursor: pointer;
}

.btn-green {
  background-color: teal;
  color: white;
  width: 70%;
}

.btn-green:hover {
  background-color: #209b87;
  cursor: pointer;
}

.link {
  color: #646564;
  text-decoration: none;
  margin-right: 20px;
}

.link:hover {
  color: #48494a;
  text-decoration: underline;
}
.card {
  border: 1px solid #000;
    border-radius: 5px;
    width: 450px;
    margin: 10px auto 0 auto;
    background-color: #ecebeb96;
    padding: 20px;
    .pull-left{
      float: left;
      font-size: 70px;
      width: 0%;
      margin-top: 20px;
    }
    .user-info {
      img{
        width: 100px;
        border-radius: 100px;
      }
    }
    .pull-right{
      float: right;
    font-size: 20px;
    margin-top: -134px;
    }
    .badge-green {
    padding: 5px;
    background-color: #1e8005;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 900;
    }
    .badge-yellow {
      padding: 5px;
      background-color: #c5b803;
      color: #fff;
      border-radius: 5px;
      font-size: 14px;
      font-weight: 900;
      }
      .badge-red{
        padding: 5px;
        background-color: #ef3405;
        color: #fff;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 900;
        }
}
.overflow {
  overflow: scroll;
  height: 600px !important;
}
